.Layout-dest {
    background: url('../../assets/img/destination/background-destination-desktop.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

@media (min-width: 750px) and (max-width: 1200px) {
    .Layout-dest {
        background: url('../../assets/img/destination/background-destination-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 750px) {
    .Layout-dest {
        background: url('../../assets/img/destination/background-destination-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.activeItemDest {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}
.notActiveItemDest {
    border: none;
}