.isHidden {
    display: none;
}

.isVisible {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 65%;
    z-index: 10;
    gap: 32px;
}
